*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 50px 100px 50px;
    grid-template-columns: 50px 150px 25px 25px;
	grid-template-areas:"con1 con2 con2"
						"con3 con2 con2"
						"con4 con5 con6"
						"con4 con5 con7";
	grid-template-rows: 50px 150px 25px 25px;
    grid-template-columns: 50px 100px 50px;					
    grid-gap: 10px;
    justify-content: center;
}

.container div{
    background-color: rgb(0, 0, 0);
}

.container .con1{
    grid-area: con1;
}

.container .con2{
    grid-area: con2;
}
.container .con3{
    grid-area: con3;
}
.container .con4{
    grid-area: con4;
}

.container .con5{
    grid-area: con5;
}
.container .con6{
    grid-area: con6;
}
.container .con7{
    grid-area: con7;
}
